[Unit]
Description=ArchWRLD Battery Monitor Timer
Requires=archwrld-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target